body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-size: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #f7b6b6;
    color: #fff;
    padding: 10px;
}

nav ul {
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

article {
    background-color: #f9f9f9;
    padding: 20px;
}

aside {
    background-color: #f0f0f0;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
img {
    padding: 0 30px;
}